<section id="faq" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <h1>Frequently Asked Questions</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <!-- Faq 1 -->
        <div class="panel " >
          <div class="panel-heading">
            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>What's the guarantee period ?</a></h4><!-- Faq Title -->
          </div>
          <div class="panel-collapse collapse in" id="faq1">
            <div class="panel-body"><!-- Faq Content -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
          </div>
        </div>
        <!-- End Faq 1 -->
        <!-- Faq 2 -->
        <div class="panel " >
          <div class="panel-heading">
            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>Can I buy this template and sell it ?</a></h4><!-- Faq Title -->
          </div>
          <div class="panel-collapse collapse" id="faq2">
            <div class="panel-body"><!-- Faq Content -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
          </div>
        </div>
        <!-- End Faq 2 -->
        <!-- Faq 3 -->
        <div class="panel " >
          <div class="panel-heading">
            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>24/7 support system available ?</a></h4><!-- Faq Title -->
          </div>
          <div class="panel-collapse collapse" id="faq3">
            <div class="panel-body"><!-- Faq Content -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
          </div>
        </div>
        <!-- End Faq 3 -->
        <!-- Faq 4 -->
        <div class="panel " >
          <div class="panel-heading">
            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Why am I asking so many questions ?</a></h4><!-- Faq Title -->
          </div>
          <div class="panel-collapse collapse" id="faq4">
            <div class="panel-body"><!-- Faq Content -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
          </div>
        </div>
        <!-- End Faq 4 -->
        <!-- Faq 5 -->
        <div class="panel " >
          <div class="panel-heading">
            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Is it mobile-friendly ?</a></h4><!-- Faq Title -->
          </div>
          <div class="panel-collapse collapse" id="faq5">
            <div class="panel-body"><!-- Faq Content -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
          </div>
        </div>
        <!-- End Faq 5 -->
      </div>
      <div class="col-lg-5 col-md-5">
        <%= image_tag "side-img2.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>
