<section id="more-features" class="section bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">What if there were more features ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
      </div>
    </div>
    <div class="row">
      <!-- More Feature Column -->
      <div class="col-lg-4  col-md-4 col-sm-4 feature">
        <i class="fa fa-history"></i><!-- Features Icon -->
        <h4>Client Oriented</h4><!-- Features Title -->
        <div class="bubble"><!-- Features Details -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <ul class="green-arrow">
            <li>Many addon features</li>
            <li>Fully responsive &amp; adaptive</li>
            <li>SEO optimized</li>
            <li>Attractive with a modern touch</li>
          </ul>
        </div>
      </div>
      <!-- End More Feature Column -->
      <!-- More Feature Column -->
      <div class="col-lg-4  col-md-4 col-sm-4 feature">
        <i class="fa fa-briefcase"></i><!-- Features Icon -->
        <h4>Easy to use</h4><!-- Features Title -->
        <div class="bubble"><!-- Features Details -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <ul class="green-arrow">
            <li>Many addon features</li>
            <li>Fully responsive &amp; adaptive</li>
            <li>SEO optimized</li>
            <li>Attractive with a modern touch</li>
          </ul>
        </div>
      </div>
      <!-- End More Feature Column -->
      <!-- More Feature Column -->
      <div class="col-lg-4  col-md-4 col-sm-4 feature">
        <i class="fa fa-coffee"></i><!-- Features Icon -->
        <h4>Flexible</h4><!-- Features Title -->
        <div class="bubble"><!-- Features Details -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <ul class="green-arrow">
            <li>Many addon features</li>
            <li>Fully responsive &amp; adaptive</li>
            <li>SEO optimized</li>
            <li>Attractive with a modern touch</li>
          </ul>
        </div>
      </div>
      <!-- End More Feature Column -->
    </div>
  </div>
</section>
