<section id="testimonials" class="section testimonial-bg cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <h1>Awesome <strong>Testimonials</strong></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <!-- Start Testimonial Slider -->
        <div class="carousel slide carousel-mod" data-ride="carousel" id="testimonial">
          <div class="carousel-inner">
            <!-- Testimonial #1  -->
            <div class="item active">
              <div class="row">
                <div class="col-lg-12">
                  <div class="testimonial-inner">
                    <%= image_tag "testi.png" %><!-- Testimonial Image  -->
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p><!-- Tesimonial  -->
                    <small>Someone famous</small><!-- Testimonial Author  -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End Testimonial #1  -->
            <div class="item">
              <div class="row">
                <div class="col-lg-12">
                  <div class="testimonial-inner">
                    <%= image_tag "testi.png" %><!-- Testimonial Image  -->
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p><!-- Tesimonial  -->
                    <small>Someone famous</small><!-- Testimonial Author  -->
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-12">
                  <div class="testimonial-inner">
                    <%= image_tag "testi.png" %><!-- Testimonial Image  -->
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p><!-- Tesimonial  -->
                    <small>Someone famous</small><!-- Testimonial Author  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Testimonial Navigation  -->
          <ol class="carousel-indicators">
            <li data-target="#testimonial" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial" data-slide-to="1"></li>
            <li data-target="#testimonial" data-slide-to="2"></li>
          </ol>
          <!-- End Testimonial Navigation  -->
        </div>
      </div>
    </div>
  </div>
</section>
