<footer id="footer" class="section nopadding-bottom">
  <div class="container">
    <div class="row">
      <!--Footer About Description -->
      <div class="col-md-3 col-sm-6">
        <h4>About Landing Page</h4>
        <p>Default text creates the illusion of real text. If it is not real text, they will focus on the design.</p>
        <hr/>
        <h4>Quick Links</h4>
        <ul class="quick-links">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <!-- End Footer About Description -->

      <!-- Start Contact Details  -->
      <div class="col-md-4 col-sm-6">
        <div class="contact-info">
          <h4>Where to find us</h4>
          <p>Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc.</p>
          <ul class="contact-list">
            <li><i class="fa fa-map-marker"></i>Somewhere Somewhere, Mauritius</li>
            <li><i class="fa fa-phone"></i>+ 230 5 8268494</li>
            <li><i class="fa fa-envelope-o"></i><a href="mailto:contact@simplesphere.net.com">contact@simplesphere.net</a></li>
          </ul>
        </div>
        <!-- End Contact Details  -->
        <hr/>

        <div class="social">
          <h4>Follow us</h4>
          <!-- Start  Social Links -->
          <ul class="social">
            <li class="facebook"> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
            <li class="twitter"> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
            <li class="google-plus"> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
            <li class="linkedin"> <a href="#"> <i class="fa fa-linkedin"></i> </a> </li>
            <li class="youtube"> <a href="#"> <i class="fa fa-youtube-play"></i> </a> </li>
          </ul>
          <!-- End Social Links  -->
        </div>
      </div>
      <div class="col-md-5 bottom-contact">
        <h4>Get in Touch</h4>
        <p>Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc.</p>
        <!-- Start Contact Form  -->
        <form id="contact-form" class="contact-form" method="post" action="contact-form.php">
          <div class="form-group">
            <input name="contact-name" id="contact-name" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input name="contact-email" id="contact-email" type="text" class="form-control" placeholder="Your e-mail">
          </div>
          <div class="form-group">
            <input name="contact-phone" id="contact-phone" type="text" class="form-control" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea name="contact-message" id="contact-message" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-submit">Submit</button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-process-contact"></div>
            </div>
          </div>
        </form>
        <!-- End Contact Form  -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row footer-bottom">
      <div class="col-lg-6 col-sm-6">
        <p>&copy; Sales Theme. All Right Reserved</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p class="copyright">Made with <i class="fa fa-heart"></i> by <a href="http://www.simplesphere.net">Simplesphere</a></p>
      </div>
    </div>
  </div>
</footer>
